* {
    box-sizing: border-box;
}

html,
body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.settings{
    .inputs{
        padding: .65em 1em .75em;
        background: #000000;
        color: #eeeeee;
        label{
            display: inline-block;
            margin: 0 1em 0 0;
        }
        input[type=number]{
            -webkit-appearance: none;
            background: #000000;
            color: #eeeeee;
            border: solid 1px #eeeeee;
            font-size: .9em;
            padding: 0 .25em;
            width: 120px;
        }
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none;
        }
    }
    .output{
        padding: .65em 1em .75em;
        margin: 0 0 1em;
    }
}
.output_container{
    display: flex;
    align-items: center;
    justify-content: center;
}


