* {
    box-sizing: border-box;
}

html,
body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    background: #eee;
}

main{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.settings{
    .inputs{
        border-bottom: solid 1px #5a5a5a;
        background: #fff;
        > div{
            display: inline-block;
            padding: .65em 1em .75em;
            border-right: solid 1px #5a5a5a;

            > * + *{
                margin-right: 2em;
            }
        
            label, div{
                display: inline-block;
                margin: 0 1em 0 0;
            }
            input[type=number]{
                -webkit-appearance: none;
                border: 0;
                background: #eee;
                font-size: .9em;
                padding: .25em .5em;
                width: 80px;
            }
            input[type=number]::-webkit-inner-spin-button, 
            input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none;
            }
            select{
                -webkit-appearance: none;
                padding: .25em .5em;
                background: #eee;
                border: 0;
                border-radius: 0;
                font-size: .9em;
                option{
                    -webkit-appearance: none;
                    padding: 0 .25em;
                }
            }
        }
    }
    .output{
        padding: .65em 1em .75em;
        margin: 0 0 1em;
    }
}
.output_container{
    display: flex;
    align-items: center;
    justify-content: center;
    canvas{
        background: #fff;
    }
}


